.CommandBar {
  z-index: 99999999;
  background: white;
  border-bottom: 4px solid #0078d4;

  .ms-Toggle {
    margin-bottom: 0;
    padding: 0px 8px;

    label {
      font-weight: normal;
    }
  }
}
