.Legend {
  position: absolute;
  // top: 30px;
  // right: 20px;
  // width: 450px;
  z-index: 1;

  &__element {
    text-transform: capitalize;
  }
}

.glyph {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;

  &--group {
    width: 20px;
    height: 20px;
    background: var(--color);
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: var(--color);
      border-radius: 50%;
      margin-left: 12px;
    }
  }

  &--line {
    width: 5px;
    height: 20px;
    background: var(--color);
    border-radius: 2px;
    transform: rotate(40deg);
    margin-left: 12px;
  }

  &--circle {
    width: 20px;
    height: 20px;
    background: var(--color);
    border-radius: 50%
  }

  &--triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--color);
  }

  &--square {
    width: 20px;
    height: 20px;
    background: var(--color);
    border-radius: 4px;
  }

  &--diamond {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: var(--color);
    position: relative;
    top: -10px;

    &:after {
      content: '';
      position: absolute;
      left: -10px;
      top: 10px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: var(--color);
    }
  }
}
