.Panels {
  &--side {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background: green;
  }

  &--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background: yellow;
  }
}
