.CommandBar {
  z-index: 1;
  background: white;

  .ms-Toggle {
    margin-bottom :0;

    label {
      font-weight: normal;
      margin-left: 10px;
    }
  }
}

.ToggleContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
