@import '../../theme';

.ControlBar {
  padding: 2rem;
  background: $palette_white;
  display: flex;
  justify-content: center;
  align-items: center;

  .primary-stack {
    .primary-action-button {
      flex: 1;
      height: 100%;

      &__button {
        height: 100%;
        width: 100%;
      }
    }
  }
}
