@import '../../theme';

.Visualisation {
  flex: 1 1 auto;
  background: $palette_themeLighterAlt;

  &--openPanel {
    width: calc(100% - 350px) !important;
      .cyContainer {
        width: calc(100%) !important;
      }
  }
}
