@import '../../../theme.scss';

// .panel {
//   background: $palette_themeLighter;
//   position: absolute;
//   top: 44px;
//   bottom: 112px;
//   width: 350px;
//   padding: 2rem;
//   overflow-y: scroll;
// }

.ms-Panel-main {
  background: $palette_themeLighter;
  margin-top: 44px;
  margin-bottom: 112px;
}
