@import '../../../theme.scss';

.panel {
  width: 350px;
  height: 100%;
  background: $palette_themeLighter;
  position: absolute;
  padding: 4rem 2rem 8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
