@import '../../../theme.scss';

.panel {
  background: $palette_themeLighter;
  padding: 2rem;
  // padding-bottom: 8rem;
  // padding-top: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  top: 2rem;
  bottom: 7rem;
  left: 0;
  // z-index: 1;
}
