// Mirror of theme.js not sure of a better way to do this

$palette_themePrimary: #0078d4;
$palette_themeLighterAlt: #eff6fc;
$palette_themeLighter: #deecf9;
$palette_themeLight: #c7e0f4;
$palette_themeTertiary: #71afe5;
$palette_themeSecondary: #2b88d8;
$palette_themeDarkAlt: #106ebe;
$palette_themeDark: #005a9e;
$palette_themeDarker: #004578;
$palette_neutralLighterAlt: #faf9f8;
$palette_neutralLighter: #f3f2f1;
$palette_neutralLight: #edebe9;
$palette_neutralQuaternaryAlt: #e1dfdd;
$palette_neutralQuaternary: #d0d0d0;
$palette_neutralTertiaryAlt: #c8c6c4;
$palette_neutralTertiary: #a19f9d;
$palette_neutralSecondary: #605e5c;
$palette_neutralPrimaryAlt: #3b3a39;
$palette_neutralPrimary: #323130;
$palette_neutralDark: #201f1e;
$palette_black: #000000;
$palette_white: #ffffff;
